<template>
  <div class="d-flex flex-column parent">
    <span
        class="fw-bold bg-black bg-opacity-10 p-1"
    >
      {{ props.title }}
    </span>
<!--      <div class="w-100 my-1" style="height: 1px; border-bottom: dashed #d3d3d3 1px"/>-->

    <div class="my-1 px-1 flex-grow-1">
      <span
          class="small text"
      >
      {{ props.text }}
    </span>
    </div>

    <div class="d-flex align-items-center fw-bolder ms-2 mb-1 small" style="height: 20px" dir="ltr">
      <i class="bi bi-clock small d-flex justify-content-center align-items-center"></i>
      <span class="ms-1">{{ props.time }}</span>
    </div>
  </div>
</template>

<script setup>

const props = defineProps({
  title: {
    default: ''
  },
  time: {
    default: ''
  },
  text: {
    default: ''
  }
})
</script>

<style scoped lang="scss">
.parent {
  &:hover {
    background: #eaeaea !important;
    z-index: 2;
  }

  transition-duration: 100ms;
  cursor: pointer;
  height: 145px;
  overflow: hidden;
}

.text {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 75px;
  -webkit-line-clamp: 3;
  line-height: 25px;
  -webkit-box-orient: vertical;
}

</style>