<template>
  <CustomModal
    :show="showModal"
    @confirm="confirm()"
    @cancel="cancel()"
  >
    <div class="d-flex flex-column align-items-center">
      <CustomInput
          v-model="data.title"
          :placeholder="$t('eventName')"
          :is-invalid="!validate.title"
      />
      <CustomInput
          v-model="data.text"
          class="mt-2"
          :placeholder="$t('description')"
          textarea
          :is-invalid="!validate.text"
      />

      <CustomButton
          :title="$t('selectTime')"
          color="primary"
          text-color="white"
          class="mt-4"
          id="selectTime"
      />
      <date-picker
          v-model="data.time"
          type="time"
          color="#FF6000"
          auto-submit
          compact-time
          simple
          custom-input="#selectTime"
          :locale="locale"
      />
      <span class="mt-2 fs-3">{{data.time}}</span>
    </div>
  </CustomModal>
</template>

<script setup>
import CustomModal from "../../../components/CustomModal.vue";
import {computed, onMounted, reactive, ref, watch} from "vue";
import CustomInput from "../../../components/CustomInput.vue";
import DatePicker from "vue3-persian-datetime-picker";
import CustomButton from "../../../components/CustomButton.vue";
import {useI18n} from "vue-i18n";

let data = reactive({
  title: '',
  text: '',
  time: ''
})

const validate = reactive({
  title: true,
  text: true
})

const {_, locale} = useI18n();

onMounted(() => {
  const date = new Date();
  date.toLocaleDateString('fa-IR');
  data.time = (date.getHours()+1+'').padStart(2, '0') + ':' + (date.getMinutes()+'').padStart(2, '0');
})

function confirm() {
  let b = false;
  if(!data.title) {
    validate.title = false;
    b = true;
  }
  if(!data.text) {
    validate.text = false;
    b = true;
  }
  if (b) return;

  emits('confirm', data);
  showModal.value = false;
}

function cancel() {
  showModal.value = false;
}

const props = defineProps({
  show: {
    default: false
  },
  initEvent: {
    default() {
      return {}
    }
  }
})

const showModal = computed({
  get() {
    return props.show;
  },
  set(v) {
    emits("update:show", v)
  }
})

watch(() => props.show, (v) => {
  if(v) {
    if(Object.keys(props.initEvent).length > 0) {
      data = props.initEvent;
    }
  }
  else {
    data.title = '';
    data.text = '';
    delete data.id;

    validate.title = true;
    validate.text = true;
  }
})

const emits = defineEmits(['update:show', 'confirm'])

</script>

<style scoped>

</style>