<template>
  <div class="d-flex align-items-start gap-4 flex-column flex-lg-row align-items-center align-items-lg-start">
    <DatePicker
        v-model="selectedDate"
        inline
        class="shadow-sm"
        color="#FF6000"
        customInput="_"
        auto-submit
        :locale="locale"
    />

    <div class="d-flex  rounded-top overflow-hidden flex-column flex-grow-1 w-100 w-lg-0">
      <div
          class="bg-primary header d-flex align-items-center justify-content-between"
      >
        <CustomButton
            color="white"
            :title="$t('newEvent')"
            class="ms-2 text-primary bg-white"
            @click="newData = {}; showNewEventModal = true;"
        />

        <div class="dropdown">
          <button class="btn border-0 dropdown-toggle text-white"
                  data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi-translate fs-4 d-flex align-items-center"/>
          </button>

          <ul class="dropdown-menu p-0 ms-2">
            <button @click="changeLanguage('fa')" class="btn border-0 bg-transparent py-2 btn-sm w-100 h-100">فارسی</button>
            <li><hr class="dropdown-divider m-0"></li>
            <button @click="changeLanguage('en')" class="btn border-0 bg-transparent py-2 btn-sm w-100 h-100">English</button>
          </ul>
        </div>
      </div>

      <div v-if="dayEvents.length === 0" class="event-parent border items-border-color d-flex align-items-center justify-content-center">
        <span class="text-muted mx-auto my-5">{{$t('noEvents')}}</span>
      </div>

      <div v-if="dayEvents.length > 0" class="event-parent border-start items-border-color">
        <div
            v-for="event in dayEvents"
            class="border-bottom border-end items-border-color">
          <EventItem
              :title="event.title"
              :text="event.text"
              :time="event.time"
              @click="editEvent(event)"
          />
        </div>
      </div>

    </div>
  </div>

  <NewEventModal
      @confirm="(data) => saveEvent(data)"
      :init-event="selectedEvent.value"
      v-model:show="showNewEventModal"
  />

</template>

<script setup>

import CustomButton from "../../components/CustomButton.vue";
import DatePicker from 'vue3-persian-datetime-picker'
import {computed, onMounted, reactive, ref, watch} from "vue";
import EventItem from "./components/EventItem.vue";
import NewEventModal from "./components/NewEventModal.vue";
import {useAppStore} from "../../js/store";
import {useI18n} from "vue-i18n";
import moment from 'moment-jalaali'

import '../../css/style.scss'


const selectedDate = ref('')
const showNewEventModal = ref(false);
const appStore = useAppStore();
const {t, locale} = useI18n();
const selectedEvent = reactive({});


onMounted(() => {
  selectedDate.value = moment().format('jYYYY/jMM/jDD');
})

const newData = reactive({});

const dayEvents = computed(() => {
  return appStore.getEventsByDay(selectedDate.value)
});


function saveEvent(event) {
  if(event.id) {
    appStore.editEvent(selectedDate.value, event)
    return;
  }
  appStore.addDay(selectedDate.value);
  appStore.addEvent(selectedDate.value, event)
}

function editEvent(event) {
  selectedEvent.value = {...event};
  showNewEventModal.value = true;
}

function changeLanguage(lan) {
  if(lan === 'fa') {
    locale.value = 'fa';
    document.documentElement.lang = 'fa';
    document.documentElement.dir = 'rtl';
  }
  else if(lan === 'en') {
    locale.value = 'en';
    document.documentElement.lang = 'en';
    document.documentElement.dir = 'ltr';
  }
}

watch(showNewEventModal, (v) => {
  if (!v)
    selectedEvent.value = {};
})


</script>

<style scoped lang="scss">
.header {
  height: 50px;
}

.event-parent {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.items-border-color {
  border-color: #cbcbcb !important;
}

.vpd-actions {
  button:nth-child(1) {
    display: none!important;
  }
}
</style>

<style>
/*.vpd-input-group {*/
/*  display: none!important;*/
/*}*/
</style>