<template>
  <button
      class="btn rounded-1"
      :class="[outline ? `btn-outline btn-outline-${props.color}` : `btn-${props.color}`, ` text-${textColor}`]"
      @click="$emit('click')"
  >
    {{props.title}}
  </button>
</template>

<script setup>
import {ref} from "vue";

const props = defineProps({
  title: {
    default: '',
  },
  color: {
    default: 'primary'
  },
  textColor: {
    default: ''
  },
  outline: {
    default: false,
    type: Boolean
  },
  shadow: {
    default: false,
    type: Boolean
  }
})

const emits = defineEmits(['click'])

</script>

<style scoped lang="scss">

.btn:hover{
  box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
}

</style>