<template>
  <div class="modal fade" ref="modalRef" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="d-flex justify-content-between align-items-center w-100">
            <h5 class="modal-title">{{props.title}}</h5>
            <button type="button"
                    class="btn-close shadow-none m-0 small"
                    @click="$emit('cancel')"
                    aria-label="Close"></button>
          </div>
        </div>
        <div class="modal-body">
          <slot/>
        </div>
        <div class="modal-footer">
          <button
              type="button"
              class="btn btn-secondary text-white"
              @click="$emit('cancel')"
          >
            {{props.cancelBtnTitle || $t('cancel')}}
          </button>
          <button
              type="button"
              class="btn btn-primary text-white"
              @click="$emit('confirm')"
          >
            {{props.okBtnTitle || $t('confirm')}}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import {onMounted, ref, watch} from "vue";
import {Modal} from 'bootstrap'
import {useI18n} from 'vue-i18n'

const {t} = useI18n();
const modalRef = ref(null);
let modal = null;

onMounted(() => {
  modal = new Modal(modalRef.value);
  if(props.show)
    modal.show();

  modalRef.value.addEventListener('hidden.bs.modal', function (event) {
    emits('cancel')
  })
})

const props = defineProps({
  show: {
    default: false
  },

  title: {
    default: ''
  },

  okBtnTitle: {
    default: ''
  },
  cancelBtnTitle: {
    default: ''
  }

})

watch(() => props.show, () => {
  if(props.show)
    modal.show()
  else
    modal.hide()
})

const emits = defineEmits(['cancel', 'confirm'])

</script>

<style scoped>

</style>