<template>
  <textarea
      v-if="textarea"
      v-model="value"
      class="form-control"
      :class="{'is-invalid': isInvalid}"
      type="text"
      :style="{minHeight: '100px', maxHeight: '100px'}"
      :placeholder="placeholder">
  </textarea>
  <input
      v-else
      v-model="value"
      class="form-control"
      :class="{'is-invalid': isInvalid}"
      type="text"
      :placeholder="placeholder">
</template>

<script setup>

import {computed} from "vue";

const props = defineProps({
  modelValue: {
    default: false
  },
  placeholder: {
    default: 'ssss'
  },
  textarea: {
    default: false,
    type: Boolean
  },
  isInvalid: {
    default: false,
  }
})

const value = computed({
  get() {
    return props.modelValue;
  },
  set(v) {
    emits("update:modelValue", v)
  }
})

const emits = defineEmits(['update:modelValue'])
</script>

<style scoped>

</style>