$primary: #FF6000;
$secondary: #FFA559;

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "bootstrap/dist/css/bootstrap.rtl.min.css";

@font-face {
  font-family: 'Vazir';
  src: url('src/assets/font/Vazir-Light-FD-WOL.woff2') format('woff2'),
  url('src/assets/font/Vazir-Light-FD-WOL.woff') format('woff'),
  url('src/assets/font/Vazir-Light-FD-WOL.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

html[lang="fa"] {
  * {
    font-family: Vazir;
    transition: all 200ms;
  }

  .border-start {
    border-left: 0!important;
  }
  .border-end {
    border-right: 0!important;
  }
}

html[lang="en"] {
  .border-start {
    border-right: 0!important;
  }
  .border-end {
    border-left: 0 !important;
  }

}


@include media-breakpoint-up(lg) {
  .w-lg-0 {
    width: 0!important;
  }
}


.form-control:focus {
  box-shadow: none!important;
}

.dropdown-toggle::after {
  display: none!important;
}

.dropdown-menu {
  transform: translateY(40px);
}
