<template>
  <div class="container p-3 pt-5">
    <CreateEvent/>
  </div>
</template>

<script setup>
import CreateEvent from "./pages/CreateEvent/CreateEvent.vue";
import {onMounted} from "vue";

onMounted(() => {
  document.getElementsByTagName('html').dir = 'rtl'

})
</script>

<style scoped>


</style>
